@import "https://unpkg.com/open-props/easings.min.css";

:root {
    /* spotify colors*/
    --spotify-green: #1ed760;
    --spotify-black: #121212;
    --spotify-white: #ffffff;
    --spotify-grey: #b3b3b3;
    --spotify-darkGrey: #222222;
    
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global page styles */

html {
    font-family: 'Manrope', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--spotify-black);
    
}

/* center everything */

body {
    
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns:0.5fr 2fr 0.5fr;
}

.album{
    max-width: 25 rem;
    background-color: var(--spotify-darkGrey);
    grid-row:2;
    grid-column: 2;
    padding:1rem;
    border-radius: 5%;
}

.album__title{
    color: var(--spotify-white);
    grid-column: 1;
    grid-row: 1;
}

.album__artist{
    color: var(--spotify-grey);
    grid-column: 1;
    grid-row: 2;
}


.album__header{
    margin-top: 1.5rem;
    display: grid;
    grid-template-areas: "icons";
    position: relative;
    
}

/*
    Object: Button reset
    ---
    Small button reset object


*/

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Toggle button
*/
.toggle__icon{
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    &.icon--add{
        
        grid-area: icons;
        z-index: 2; 
        color: var(--spotify-white);
    }

    &.icon--check{
        color: var(--spotify-green);
        grid-area: icons;
    opacity: 0;
    z-index: 1;
    }
} 

.toggle__icon.added .icon--add {
    opacity: 1;
}

.toggle__icon.added .icon--check {
    opacity: 1;
}

/*
    Album
*/

/*
    Utitlities
*/

.color-grey {
    color: var(--spotify-grey);
}